<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/supertonii/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/nzilani.singing/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/nzilanifrancq1?lang=en"><i class="fab fa-twitter"></i></a>
    <a href="https://www.tiktok.com/@supertonii"><i class="fab fa-tiktok"></i></a>
  </div>
  <div class="footer-copyright">
    Wanna collab? DM me on insta <i class="fas fa-heart"></i>
  </div>
</div>
