<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i1.sndcdn.com/visuals-PP9Zkd6j1yVWHwLw-2OF4BA-t2480x520.jpg);">
  <div class="container">
    <h1>Welcome to <strong>Nzilani</strong>'s Merry-go-round!</h1>
    <p>Pop music woooop</p>
    <a class="btn btn-flat" href="#">Listen now</a>
  </div>
</div>

<div style="margin: 20px;"></div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://1000logos.net/wp-content/uploads/2017/08/Color-Spotify-Logo.jpg)">
    Listen on Spotify
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pbs.twimg.com/profile_images/724559698150756353/FTICuynz_400x400.jpg)">
    Live gigs
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://m.media-amazon.com/images/I/61gtTRApR-L._AC_UL640_QL65_.jpg)">
    Merch
  </div>
</div>
